@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #F4F5F7;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.main-div {
  width: 440px;
  height: 100vh;
  margin: 60px auto;
}

.m10 {
  margin-top: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.wd30 {
  width: 30px;
}

.input-field {
  width: 100%;
  border: 1px solid #C1C7D0;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 25px;
  padding: 10px;
  color: #172B4D;
  opacity: 0.6;
}

.login-btn {
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  background-color: #005588;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.input-labels {
  font-size: 14px;
  line-height: 30px;
  text-shadow: 0px 1px #b4b8c0;
}

.forgot-psw {
  color: #172B4D;
  float: right;
  font-size: 10px;
  padding: 5px 0px;
  opacity: 0.6;
}

#login-alert {
  text-align: center;
  color: red;
  padding: 10px;
}

#email-alert, #password-alert {
  color: red;
}

/*home-page*/
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: #1b5587;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav-logo {
  width: 7%;
}

.nav-header {
  width: 80%;
}

.nav-icons {
  float: right;
  padding-right: 10px;
  width: 13%
}

.profile {
  padding: 8px !important;
  background-color: #226694;
  border-radius: 4px;
}

.bg-image {
  background-image: url("/assets/images/india-hyderabad-banner.jpg");
  background-size: cover;
  background-position: right;
  height: 35vh;
}

.city {
  margin: 0px auto;
  color: #fff;
  width: 550px;
  font-weight: 600;
}

.explore-city {
  text-align: center;
  font-size: 28px;
  padding-top: 60px;
  line-height: 30px;
  margin-top: 0px;
}

.create-index-btn {
  background-color: #005588;
  color: #fff;
  border-radius: 2px !important;
  padding: 5px 10px !important;
}

.city-search {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 20px;
}

.search-icon {
  position: absolute;
  z-index: 1;
  padding: 7px;
}

.city-search-box {
  height: 35px;
  width: 280px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(29, 33, 41, 0.4);
  position: relative;
  padding-left: 30px;
  border: none;
}

.nav-btn {
  background-color: #226694;
  padding: 10px;
}

.tooltip {
  position: relative !important;
  display: inline-block !important;
  opacity: 2 !important;
  font-size: 12px;
  border-radius: 4px;
  z-index: inherit !important;
  padding: 5px 5px 5px 0px;
}

.tooltip > a, .tooltip > a:hover {
  color: #fff;
  text-decoration: none;
}

.tooltiptext {
  visibility: hidden;
  background-color: #fff;
  color: #1b5587;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*----home page css-----*/
.sidenav a {
  text-align: left;
  font-size: 14px;
  color: #818181 !important;
  background-color: #fff !important;
  border-radius: 0px !important;
}

.sidenav a:hover, .sidenav .active {
  border-left: 2px solid #1b5587 !important;
  text-decoration: none;
  color: #172B4D !important;
  font-weight: 600;
  opacity: unset;
}

.sidenav .active:hover {
  border-left: none !important;
}

.sidenav-head {
  font-size: 10px;
  color: #818181;
  opacity: 0.6;
  padding: 8px 8px 8px 15px;
  margin-bottom: 0px;
  font-weight: 600;
}

.available-parent-flex {
  display: flex;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: wrap;
}

.available-child {
  width: 30%;
  box-shadow: inset -1px 0 0 0 #DFE1E6;
  border-radius: 3px;
  border: 1px solid #DFE1E6;
  padding: 10px;
  opacity: 0.8;
  margin-right: 15px;
  margin-bottom: 15px;
  min-height: 95px;
}

break {
  flex-basis: 100%;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.available-child > a {
  color: #172B4D;
}

.available-child > a:hover {
  text-decoration: none;
}

.location-text {
  font-size: 12px;
  color: #818181;
  font-weight: normal;
}

.powered-by_text {
  font-size: 10px;
  color: #818181;
  font-weight: normal;
}

.available-child-parent {
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
  height: 100%;
}

.child-parent-1 {
  width: 10%;
  padding-right: 30px;
}

.child-parent-2 {
  width: 90%;
}

.mb2 {
  margin-bottom: 2px;
}

.mt15 {
  margin-top: 15px;
}

.custom-opacity {
  opacity: 0.8;
}

.cursor_pointer {
  cursor: pointer;
}

/*---------dashboard-css----------*/
.dynamic-map {
  position: relative;
}

.location-lable {
  height: 19px;
  opacity: 0.8;
  color: #172B4D;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
}

.location-input {
  width: 260px;
  border: 1px solid #EBECF0;
  border-radius: 2px;
  padding: 5px 10px;
}

.square-box-div {
  padding: 20px 10px 10px 0px;
  margin-bottom: 0px;
}

.square-box {
  height: 10px;
  width: 10px;
  float: left;
  margin-right: 5px;
}

/* square box color*/
.hyderabad_bus_stops {
  background-color: #cddc39;
}

.hyderabad_metro_stations {
  background-color: #f69702;
}

.hyderabad_mmts_stops, .footpath, .streetlight, .drainage, .construction_debris, .garbage, .manhole, .pothole {
  background-color: #EC2240;
}

.schools {
  background-color: #00C7E6;
}

.govt_hospitals {
  background-color: #f955b8;
}

.all_affordable_healthcare_facilities {
  background-color: #667cfa;
}

.basti_dawakhana {
  background-color: #a17aff;
}

.govt_primary_health_clinics {
  background-color: #4baf50;
}

.private_arogyasri_empanelled {
  background-color: #ffc400;
}

.rs_5_meal_canteens {
  background-color: #57d9a3;
}

.public_toilet_locations {
  background-color: #00C7E6;
}

.public_toilet {
  background-color: #EC2240;
}

.old_age_shelters {
  background-color: #00bfd7;
}

.long_term_housing {
  background: #8b8b8b;
}

/*square box color end*/

.bountry-filter {
  padding: 10px;
  color: #172B4D;
  font-size: 14px;
}

.department-list-filter > ul {
  padding: 10px 5px;
}

.sub-category > .glyphicon, .dropdown-list > li > .glyphicon, .boundary > .glyphicon, .dropdown-child-list > li > .glyphicon {
  font-family: inherit !important;
  font-weight: inherit !important;
}

.boundaries ul, .department-list-filter ul {
  padding: 0px;
  margin-bottom: 0px;
}

.department-list-filter > ul > li, .traffic-layer-block > ul > li {
  color: #172B4D;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8 !important;
  display: block;
  padding: 10px 0px;
  text-align: left;
  cursor: pointer;
}

.underserved-areas-div {
  opacity: 0.8;
  color: #172B4D;
  font-size: 14px;
  padding: 5px;
  border-top: 1px solid #EBECF0;
  margin-top: 10px;
}

.underserved-areas-div > p {
  margin-bottom: 0px;
}

.sub-category > ul {
  padding: 0px;
}

.dropdown-list > li {
  color: #172B4D;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: normal;
  width: 100%;
  display: -webkit-box;
}

.dropdown-list > li > input:checked {
  color: #172B4D;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
}

.dropdown-child-list {
  padding-left: 0px;
}

.dropdown-child-list > li {
  padding: 5px 23px !important;
  color: #172B4D;
  font-weight: normal;
  font-size: 12px;
  width: 100%;
  text-align: left;
}

.dropdown-child-list > li > input + label {
  opacity: 0.5;
  padding-left: 5px;
}

label {
  font-weight: inherit !important;
}

input[type="checkbox"]:checked + label {
  opacity: 2 !important;
}

.pointer {
  cursor: pointer;
}

.glyphicon-refresh {
  animation: spinIt 1.5s infinite linear;
}

@keyframes spinIt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* call option dropdown*/
.call-btn-dropdown > .dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}

.call-btn-dropdown > .dropdown-menu > li {
  color: #172B4D;
  font-size: 12px;
}

.call-btn-dropdown > .dropdown-menu > li:nth-child(1) {
  padding: 10px 20px 0px 20px;
  opacity: 0.4;
}

.call-btn-dropdown > .dropdown-menu > li:nth-child(3) {
  border-top: 1px solid #EBECF0;
  padding: 10px 48px 10px 6px;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-child-list > li.active {
  opacity: inherit;
}

/*dashbord-heatmap*/

.parent-temp-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px;
}

.parent-temp-flex > .child-1, .child-2, .child-3, .child-4 {
  width: 22%;
  margin-top: 5px;
}

.temp-degree {
  font-size: 8px;
  color: #172B4D;
  margin-bottom: 0px;
}

.parent-temp-flex > .child-1:first-child > .color-container {
  height: 8px;
  border-radius: 5px 0 0 5px;
  margin-bottom: 5px;
}

.parent-temp-flex > .child-1 > .color-container {
  border: 0px;
  height: 8px;
  margin-bottom: 5px;
}

.parent-temp-flex > .child-1:last-child > .color-container {
  height: 8px;
  border-radius: 0 5px 5px 0;
  margin-bottom: 5px;
}

/*heat-map end*/
/*green-cover*/
.parent-green-cover-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px;
}

.parent-green-cover-flex > .child-1, .child-2, .child-3, .child-4 {
  width: 22%;
  margin-top: 6px;
  background-color: rgb(67, 93, 54);
  height: 8px;
  margin-bottom: 5px;
}

.green-cover-range {
  padding: 4px;
  font-size: 8px;
}

.parent-green-cover-flex > .child-1 {
  border-radius: 5px 0 0 5px;

}

.parent-green-cover-flex > .child-4 {
  border-radius: 0 5px 5px 0;
}


/*check box start*/

input[type='checkbox'] + label {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  position: relative;
  cursor: pointer;
}

#ghmc-boundary > li > input, .dropdown-child-list > li > input {
  font-size: 9px;
}

input[type='checkbox']:checked:after {
  padding: 0px 2px 0px 2px;
  border-radius: 4px;
}

.zone > input[type='checkbox']:checked:after {
  background: #006644;
  color: #fff;
  content: '\2714';
}

.metro > input[type='checkbox']:checked:after {
  background: #f69702;
  color: #fff;
  content: '\2714';
}

.bus-stops > input[type='checkbox']:checked:after {
  background: #cddc39;
  color: #fff;
  content: '\2714';
}

.education > input[type='checkbox']:checked:after {
  background: #00C7E6;
  color: #fff;
  content: '\2714';
}

.mmts-stops > input[type='checkbox']:checked:after, .grievance > input[type='checkbox']:checked:after {
  background: #EC2240;
  color: #fff;
  content: '\2714';
  opacity: 2;
}

.hospital > input[type='checkbox']:checked:after {
  background: #f955b8;
  color: #fff;
  content: '\2714';
}

.afford_health_care > input[type='checkbox']:checked:after {
  background: #667cfa;
  color: #fff;
  content: '\2714';
}

.basti_dawakhana_check > input[type='checkbox']:checked:after {
  background: #a17aff;
  color: #fff;
  content: '\2714';
}

.govt_health_clinics > input[type='checkbox']:checked:after {
  background: #4baf50;
  color: #fff;
  content: '\2714';
}

.pvt_arogyasri_empanelled > input[type='checkbox']:checked:after {
  background: #ffc400;
  color: #fff;
  content: '\2714';
}

.toilet_location > input[type='checkbox']:checked:after {
  background: #00C7E6;
  color: #fff;
  content: '\2714';
}

.nutrition > input[type='checkbox']:checked:after {
  background: #00dd9f;
  color: #fff;
  content: '\2714';
}

.shelter_housing > input[type='checkbox']:checked:after {
  background: #00bfd7;
  color: #fff;
  content: '\2714';
}

.housing > input[type='checkbox']:checked:after {
  background: #8b8b8b;
  color: #fff;
  content: '\2714';
}

/*checkbox end*/

.available-child:hover {
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.loader-section {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  top: 300px;
  position: absolute;
  border: 1px solid #eee;
  background: white;
  left: 450px;
  vertical-align: middle;
  padding: 20px;
  font-size: 24px;
}


/*revamp*/
.nav-div {
  position: absolute;
  top: 50px;
  left: 10px;
}

.fixed-sidenav {
  width: 290px;
  background-color: #fff;
  border-radius: 4px;
}

.save-btn {
  color: #005588;
  font-weight: 600 !important;
  background-color: #fff;
  border: 1px solid #005588 !important;
}

.update-btn {
  color: #fff;
  font-weight: 600 !important;
  background-color: #005588;
}

.legend-div {
  background-color: #fff;
  width: 315px;
}

.legend-head > p {
  border-bottom: 1px solid #DFE1E6;
  padding: 8px 8px 8px 20px;
  font-weight: 600;
  color: #172B4D;
  margin-bottom: 0px;
}

.legend-head > p > .close {
  font-weight: normal;
  color: #172B4D;
  /*font-size: 12px !important;*/
}

.legend-body > p {
  padding: 8px 20px;
  border-bottom: 1px solid #F4F5F7;
  font-size: 12px;
  color: #172B4D;
  margin-bottom: 0px;
  opacity: 0.9;
}

/* Right click CSS */
#items {
  list-style: none;
  margin: 0px;
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 17px;
  color: #333333;

}

hr {
  width: 85%;
  background-color: #E4E4E4;
  border-color: #E4E4E4;
  color: #E4E4E4;
}

#cntnr {
  display: none;
  position: fixed;
  border: 1px solid #B2B2B2;
  width: 150px;
  background: #F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius: 4px;
}

#cntnr li {
  color: #777;
  padding: 3px;
  padding-left: 10px;
}


#items :hover {
  color: white;
  background: #284570;
  border-radius: 2px;
}

.add-layer {
  padding: 10px;
  background-color: #F4F5F7;
}

.add-layer > .add-layer-btn {
  background-color: #36B37E;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
}

.add-layer > .add-layer-btn:hover, .add-layer > .add-layer-btn:visited, .add-layer > .add-layer-btn:focus {
  color: #fff;
}

.layer-title {
  opacity: 0.8;
  color: #172B4D;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0px;
  cursor: pointer;
}

.layer-desc {
  opacity: 0.6;
  color: #172B4D;
  font-size: 12px;
}

#addmetricModal > .modal-dialog, #addLayerModal > .modal-dialog {
  width: 70%;
}

#addmetricModal > .modal-dialog, #addLayerModal > .modal-dialog > .modal-content > .modal-footer {
  border-top: none !important;
}

.metric-search-div {
  margin-bottom: 10px;
}

.metric-search-div > .search-icon {
  padding: 5px;
}

.metric-search-box {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  position: relative;
  padding-left: 25px;
  border: 1px solid #eeeff1;
}

#addmetricModal > .search-icon {
  padding: 2px 5px;
}

/*color picker*/
.metric-color-picker {
  border: none;
  background-color: #fff;
  padding: 0px;
}

.width-100 {
  width: 100%;
}

.no-padding {
  padding: 0px !important;
}

.color-picker-div {
  height: 30px !important;
  width: 60px !important;
}

.icon-selector-block {
  height: 30px;
  width: 62px;
  border: 1px solid #DFE1E6;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.activate-metric {
  color: black;
}

/*color picker*/
h1 {
  height: 120px;
  line-height: 120px;
  text-align: center;
}

.vc-chrome {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 9;
}

.current-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #000;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

/*end*/


.index-section {
  min-height: 100px;
  background-color: #F4F5F7;
  box-shadow: inset 0 -1px 0 0 #F4F5F7;
  padding: 15px;
}

.index-name {
  width: 100%;
  opacity: 0.8;
  color: #172B4D;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.sidenav-content {
  min-height: 400px;
  max-height: 420px;
  overflow-y: auto;
}

.p15 {
  padding: 15px;
}

.has-children {
  position: relative;
}

.has-children:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 7px;
  width: 1px;
  z-index: 1;
  background-color: #d1d6db;
}

.create-indices {
  color: white !important;
  opacity: 1 !important;
}

.check-color {
  color: #36B37E;
  padding-right: 10px;
}

.vue-notification {
  background-color: #fff !important;
  color: #333 !important;
  border: none !important;
  width: 45%;
  border-radius: 5px;
  margin-top: 5px;
  float: right;
}

.notification-title {
  font-weight: 600;
  display: none;
}

.notifications {
  width: 50% !important;
  right: 1% !important;
  top: 5px !important;
}

.vue-notification > .close {
  font-size: 14px;
}

.dashboard-sidenav {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dashboard-sidenav > a {
  opacity: 0.7;
  color: #172B4D;
  font-size: 14px;
  padding: 5px 0px 5px 15px;
  text-decoration: none;
}

.dashboard-sidenav:hover > a, .dashboard-sidenav > a.active {
  color: #172B4D;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  border-left: 2px solid #005588;
}

#type_search_list {
  scroll-behavior: smooth;
  height: 80vh;
  overflow-y: scroll;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-end {
  align-items: flex-end;
}
